<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Chaining">
    <test name="smoke">
        <classes>
            <class name="day_8.CreateUser"/>
            <class name="day_8.GetUser"/>
            <class name="day_8.UpdateUser"/>
            <class name="day_8.DeleteUser"/>
        </classes>
    </test>
</suite>